/* CSS Document */


*{
	margin:0px;
	padding:0px;
}

a {
	text-decoration:none;
}

a:hover 
{
	text-decoration:underline;
}

img 
{
	border:none;
}
	
ul li 
{
	list-style-type: none; 
}

h1, h2, h3, h4,h5, h6, p, ul, ol, li, dl, dt, dd, form, label, img 
{
  margin:0px;
  border:0px;
  padding:0px;
}

body
{
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}