@charset "utf-8";
/* CSS Document */

body {
	height:500px;
	}

#container {
	width:1010px;
	margin:0px auto;
	}

#header {
	float:left;
	width:980px;
	padding:0px 15px;
	}

#logo {
	float:left;
	}

#header_menu {
	float:right;
	width:300px;
	}

#header_menu img {
	float: right;
	margin-top: 15px;
	}

#header_menu ul {
	float:right;
	margin:0px 0px 5px 0px;
	}

#header_menu ul li {
	float:left;
	}

#header_menu ul li a {
	display:block;
	padding:10px 10px 3px 10px;
	color:#787878;
	background:url(http://toyotahaiphong.vn/css/images/tach.png) center right no-repeat;
	text-transform:capitalize;
	font-size:11px;
	}

#header_menu ul li a:last-child {
	background:none;
	}

#header_menu ul li a:hover {
	color: #ca1f26;
	text-decoration:none;
	}

#box_search {
	float:right;
	}

#box_search input {
	float:left;
	}

#txt_search {
	background:url(http://toyotahaiphong.vn/css/images/txt_search.png) no-repeat;
	border:none;
	display:block;
	font-size:11px;
	height:34px;
	color:#707070;
	width:198px;
	padding-left:10px;
	}

*html #txt_search {
	height:25px;
	padding-top:9px;
	}

#btn_search {
	height:34px;
	width:32px;
	border:none;
	cursor:pointer;
	display:block;
	background:url(http://toyotahaiphong.vn/css/images/btn_search.png) no-repeat;
	}

#mainmenu {
	float:left;
	width:984px;
	padding:0px 13px;
	margin-top:4px;
	}

#mainmenu img {
	display:block;
	float:left;
	}

#mainmenu ul {
	width:970px;
	float: left;
	background:url(http://toyotahaiphong.vn/css/images/menu_bg.png) top repeat-x;
	}

#mainmenu ul li {
	float:left;
	padding-top:1px;
	}

#mainmenu ul li ul {
	display:none;
	}

#mainmenu ul li a {
	display:block;
	text-decoration:none;
	padding-left:1px;
	float:left;
	}

#mainmenu ul li a:hover, #mainmenu ul li a.active_menu {
	background:url(http://toyotahaiphong.vn/css/images/tag_menu.png) top left no-repeat;
	}

#mainmenu ul li a span {
	float:left;
	display:block;
	height:28px;
	padding:0px 14px;
	padding-top:11px;
	text-transform:uppercase;
	color:#787878;
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	}

#mainmenu ul li a:hover span, #mainmenu ul li a.active_menu span {
	background:url(http://toyotahaiphong.vn/css/images/tag_menu.png) top right no-repeat;
	color:#FFF;
	}

#mainmenu ul li a#home_link {
	width:30px;
	height:40px;
	background: url(http://toyotahaiphong.vn/css/images/home.png) center center no-repeat;
	}
	
#mainmenu ul li a#home_link:hover {
	background: url(http://toyotahaiphong.vn/css/images/home_hover.png) center center no-repeat;
	}

#slider_home {
	float:left;
	background: #fff url(http://toyotahaiphong.vn/css/images/slider_bg.png) bottom repeat-x;
	}

#slider_home img {
	float:left;
	}

#box_slider {
	float:left;
	width:960px;
	}

#box_slider ul {
	text-align:center;
	padding:7px 0px;
	}

#box_slider ul li {
	display:inline;
	background:url(http://toyotahaiphong.vn/css/images/list.png) 5px 4px no-repeat;
	padding-left:20px;
	}

#box_slider ul li a {
	color:#898989;
	}

#slider {
	margin-top:8px;
	}
	
#footer1 {
	float:left;
	width:996px;
	padding:0px 7px;
	margin-top:10px;
	}

#footer1 img {
	float:left;
	}

#box_footer {
	float:left;
	width:968px;
	background:url(http://toyotahaiphong.vn/css/images/footer_bg.png) top repeat-x;
	padding-top:13px;
	}

#news_home {
	float:left;
	width:968px;
	margin-bottom:20px;
	}

#listnews_home ul {
	border-top:1px solid #e1e3e5;
	margin-top:15px;
	}

#listnews_home li {
	background:url(http://toyotahaiphong.vn/css/images/list_item.png) 0px 11px no-repeat;
	padding: 7px 0px;
	padding-left:15px;
	border-bottom:1px solid #e1e3e5;
	}

#listnews_home li a {
	color:#787878;
	}

#listnews_home li a:hover {
	color:#b6141d;
	text-decoration:none;
	}

#footer_address {
	margin-top:25px;
	float:left;
	width:968px;
	}

#footer_address p {
	text-align:center;
	color:#808080;
	text-transform:uppercase;
	font-size:11px;
	}

#footer_address p a {
	color:#0096ff;
	}

#listnews_home {
	float:left;
	width:232px;
	font-size:11px;
	margin:0px 5px;
	}

*html #listnews_home {
	margin:0px 3px;
	}

#utility_home {
	float:left;
	}

#utility_home ul {
	float:left;
	}

#utility_home ul li {
	background:url(http://toyotahaiphong.vn/css/images/uti_tach.png) no-repeat;
	float:left;
	width:230px;
	padding-left:12px;
	}

#listnews_home h1 {
	color:#787878;
	text-transform:uppercase;
	font-size:13px;
	}
	
#utility_home ul li h3 {
	text-transform:uppercase;
	font-size:13px;
	}

#utility_home ul li h3 a {
	color:#787878;
	}

#utility_home ul li p {
	padding-top:10px;
	}

/*-------submenu--------*/

#mainmenu ul {
	position:relative;
	z-index:999999;
	}

#mainmenu ul li.product_link ul {
	display:none;
	padding:10px 0px;
	position:absolute;
	z-index:999999;
	top:40px;
	left:-5px;
	background: #fff url(http://toyotahaiphong.vn/css/images/list_car.png) bottom repeat-x;
	border-bottom: 1px solid #fff;
	width:980px;
	}

#mainmenu ul li.product_link ul li {
	width:151px;
	margin:0px 5px;
	}

#mainmenu ul li.product_link ul li a {
	width:137px;
	padding:5px 7px;
	display: block;
	float:left;
	border-bottom: 4px solid #e9e9e9;
	height:auto;
	text-align: center;
	}

#mainmenu ul li.product_link ul li a:hover {
	border-bottom: 4px solid #e13a41;
	}

#mainmenu ul li.product_link ul li strong {
	padding:5px;
	float:left;
	height:24px;
	color:#787878;
	font-weight:normal;
	}

#mainmenu ul li.product_link ul li a:hover {
	background:none;
	}
	

/*-------------product----------------*/

#box_product_slogan {
	float:left;
	border:1px solid #03C;
	}

#product_slogan {
	float:left;
	padding:0px 15px;
	margin-bottom:17px;
	margin-top:38px;
	}

#product_slogan p {
	float:left;
	}

#next_product {
	float:right;
	width:143px;
	margin-top:-35px;
	padding-right:15px;
	}

#next_product a {
	background:url(http://toyotahaiphong.vn/css/images/next_product.png) no-repeat;
	height:20px;
	padding-top:5px;
	display:block;
	padding-left:28px;
	text-transform:uppercase;
	font-size:11px;
	color:#787878;
	text-decoration:none;
	}

#nav_product {
	float:left;
	width:955px;
	padding:10px 15px 10px 40px;
	background:url(http://toyotahaiphong.vn/css/images/sitemap.png) 20px 8px no-repeat;
	}

#nav_product a {
	float:left;
	color:#b0b0b0;
	text-transform:uppercase;
	font-size:10px;
	display:block;
	margin:0px 5px;
	text-shadow: 1px 1px #fff;
	}

#nav_product a.active_item {
	color:#787878;
	}

#nav_product a#back_home_product {
	float:right;
	color:#787878;
	}

#product_page {
	float:left;
	width:980px;
	padding:0px 15px;
	background:url(http://toyotahaiphong.vn/css/images/bg_product.png) center repeat-y;
	}

#product_page img.img_product_page {
	display:block;
	float:left;
	}

#content_product {
	float:left;
	width:980px;
	}

#columnLeft_product {
	float:left;
	width:670px;
	padding:15px 30px;
	}

#columnRight_product {
	float:right;
	width:250px;
	}

#columnLeft_product h1 {
	position: relative;
}

#columnLeft_product h1 span {
	position: absolute;
	text-align: right;
	right: 0px;
	top: 25px;
	display: block;
	width: 220px;
	font-size: 13px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}

#columnLeft_product h1, #news_page h1, h1.title_price_page {
	font-family:"Times New Roman", Times, serif;
	color:#d5001f;
	font-weight:normal;
	font-size:35px;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
	}

#detail_product {
	padding-top:20px;
	}

#detail_product p {
	margin:10px 0px;
	text-align:justify;
	line-height:1.6em;
	}

#detail_product img, #detail_news img {
	display:block;
	margin:0px auto;
	}

#properties_product li {
	background:url(http://toyotahaiphong.vn/css/images/under.png) bottom repeat-x;
	float:left;
	width:250px;
	}

#properties_product li.feature_product {
	background:none;
	}

#properties_product li a {
	color:#787878;
	text-transform:uppercase;
	font-weight:bold;
	display:block;
	}

#properties_product li a:hover, #properties_product li a.active_property {
	background:url(http://toyotahaiphong.vn/css/images/properties.png) center left no-repeat;
	color:#d5001f;
	text-decoration:none;
	}

#properties_product li a span {
	display:block;
	padding:25px;
	}

#properties_product li.intro_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_intro.png) 180px 5px no-repeat;
	}

#properties_product li.color_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_color.png) 180px 5px no-repeat;
	}
	
#properties_product li.feature_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_perform.png) 180px 5px no-repeat;
	}

#properties_product li.outside_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_outside.png) 180px 5px no-repeat;
	}

#properties_product li.inside_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_inside.png) 180px 5px no-repeat;
	}

#properties_product li.equip_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_equip.png) 180px 5px no-repeat;
	}

#properties_product li.safe_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_safe.png) 180px 5px no-repeat;
	}

#properties_product li.operation_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_opera.png) 180px 5px no-repeat;
	}
	
#properties_product li.price_product a span {
	background:url(http://toyotahaiphong.vn/css/images/icon_price.png) 180px 5px no-repeat;
	}

#service_product {
	float:left;
	width:250px;
	}

#service_product h1 {
	background:url(http://toyotahaiphong.vn/css/images/title_serv.png) top repeat-x;
	height:45px;
	font-size:24px;
	padding-top:9px;
	padding-left:14px;
	color:#FFF;
	text-shadow: 1px 1px #333;
	}

#service_product ul li p {
	text-transform:uppercase;
	color:#787878;
	font-weight:bold;
	padding: 20px 0px 10px 15px;
	}

#service_product ul li p {
	padding: 10px 0px 10px 15px;
	}

#service_product ul li a {
	display:block;
	padding-left:15px;
	}

#footer_product {
	float:left;
	width:1010px;
	padding:15px 0px;
	}

#footer_product p {
	text-align:center;
	text-transform:uppercase;
	font-size:10px;
	color:#808080;
	}

#footer_product p a {
	color:#808080;
	}


/*-------------list news-------------*/


#listnews_page {
	float:left;
	width:1010px;
	background:url(http://toyotahaiphong.vn/css/images/listnews_bg.png) center repeat-y;
	}

#listnews_page img.listnews_image {
	display:block;
	float:left;
	}

#box_content_listnews {
	width:1010px;
	float:left;
	}

#content_listnews {
	float:left;
	width:980px;
	}

div#container p.nav_listnews {
	padding-bottom: 0px;
	}

#columnLeft_listnews {
	float:left;
	width:700px;
	padding:5px 20px 0px 10px;
	}

#box_news_listnews {
	padding-top: 10px;
	float:left;
	}

#columnLeft_listnews div.item_news_listnews {
	width:222px;
	margin-right:17px;
	float:left;
	}

div#box_news_listnews div.final {
	margin-right: 0px;
	}

#columnLeft_listnews div.item_news_listnews h2 {
	background:url(http://toyotahaiphong.vn/css/images/menu_bg.png) top repeat-x;
	text-transform:uppercase;
	font-size:13px;
	color:#404040;
	border-bottom:4px solid #d5001f;
	margin-bottom:15px;
	}

#columnLeft_listnews div.item_news_listnews h2 span {
	border:1px solid #e3e3e3;
	border-bottom:none;
	display:block;
	padding:5px;
	}

#columnLeft_listnews div.item_news_listnews a.img_news_listnews {
	border:1px solid #e5e5e5;
	display:block;
	padding:5px;
	}

#columnLeft_listnews div.item_news_listnews div {
	text-align:justify;
	line-height:1.5em;
	color: #404040;
	}

#columnLeft_listnews div.item_news_listnews div a {
	color:#404040;
	font-weight:bold;
	display:block;
	margin:10px 0px 15px 0px;
	}

#columnLeft_listnews div.item_news_listnews div a:hover {
	color:#d82c35;
	}

#columnLeft_listnews div.item_news_listnews ul {
	border-top:1px solid #ececec;
	padding-top:5px;
	margin-top: 10px;
	}

#columnLeft_listnews div.item_news_listnews ul li {
	background:url(http://toyotahaiphong.vn/css/images/list_listnews.png) 0px 4px no-repeat;
	padding-left:10px;
	margin:5px 0px;
	}

#columnLeft_listnews div.item_news_listnews ul li a {
	color:#016788;
	}

#columnRight_listnews {
	float:right;
	width:240px;
	padding: 5px 10px 5px 0px;
	}

#columnRight_listnews .box_right_listnews h2 {
	background:url(http://toyotahaiphong.vn/css/images/tag_menu.png) no-repeat;
	padding-left:10px;
	border-bottom:1px solid #a4161b;
	}

#columnRight_listnews .box_right_listnews h2 span {
	background:url(http://toyotahaiphong.vn/css/images/tag_menu.png) top right no-repeat;
	padding: 8px 0px;
	display:block;
	font-size:13px;
	text-transform:	uppercase;
	color:#FFF;
	}

div.adver_listnews a, a.img_news_listnews {
	display:block;
	padding:5px;
	border:1px solid #e5e5e5;
	margin:10px 0px;
	color:#d5001f;
	}

div.best_news_listnews h3 {
	margin-bottom:5px;
	}

div.best_news_listnews h3 a {
	font-size:13px;
	color:#d5001f;
	}

div.best_news_listnews ul {
	float:left;
	}

div.best_news_listnews ul li {
	float:left;
	width:110px;
	}

div.best_news_listnews ul li.first_news_listnews {
	padding-right: 15px;
	}

div.best_news_listnews ul li a {
	color:#404040;
	}

#news_page {
	padding:15px;
	}

#detail_news h2 {
	margin:15px 0px;
	font-size:18px;
	}
	
#detail_news p {
	margin:10px 0px;
	line-height:1.5em;
	text-align:justify;
	}

#detail_news {
	padding-bottom: 15px;
}

#orther_news {
	border-top: 1px solid #e5e5e5;
	padding-top:15px;
	}

#orther_news h2 {
	font-size:12px;
	}

#orther_news ul {
	padding-left:15px;
	}

#orther_news ul li {
	padding-left:15px;
	background:url(http://toyotahaiphong.vn/css/images/list_app.png) 0px 3px no-repeat;
	margin:5px 0px;
	}

#orther_news ul li a {
	color:#373737;
	}

#orther_news ul li a:hover {
	color:#d82c35;
	}

/*-----------list news-----------*/

#list_news_page {
	float:left;
	padding-bottom:15px;
	}

#list_news_page h2 {
	margin:15px 0px 10px 0px;
	padding-left:15px;
	background:url(http://toyotahaiphong.vn/css/images/arrows.png) 0px 3px no-repeat;
	}


#list_news_page h2 a {
	color:#d82c35;
	font-size:13px;
	}

.item_list_news_page {
	float:left;
	}
	
#list_news_page .box_item_list a.image_listnews {
	float:left;
	display:block;
	margin-right:10px;
	}

#list_news_page .box_item_list a.image_listnews img {
	padding:5px;
	border:1px solid #eaeaea;
	}

#list_news_page .box_item_list p {
	line-height:1.5em;
	text-align:justify;
	}

#list_news_page .box_item_list span.detail {
	margin-top: 15px;
	padding-right:10px;
	display:block;
	text-align:right;
	}

#detail_about p {
	line-height:1.5em;
	margin:10px 0px;
	text-align:justify;
	}

#orther_about {
	border-top:1px solid #eaeaea;
	padding-top:15px;
	margin-top:20px;
	}

#orther_about h3 {
	font-size:13px;
	}

#orther_about ul {
	padding-left: 10px;
	}

#orther_about ul li {
	padding-left:20px;
	margin:10px 0px;
	background:url(http://toyotahaiphong.vn/css/images/arrows.png) 0px 1px no-repeat;
	}

#orther_about ul li a {
	color:#d82c35;
	font-weight:bold;
	}

#search_result {
	margin:10px 0px;
	padding:0px 10px;
	line-height:1.6em;
	}

#search_result a {
	color:#06F;
	font-weight:bold;
	}

#search_result strong {
	color:#C30;
	}

/*------tin tuc---------*/

div#columnLeft_listnews div#news_page div.list_news div.item_list_news_page h2 {
	padding-left: 0px;
	background:none;
	}

#phantrang {
	text-align:right;
	padding: 15px 0px;
	}

#phantrang li {
	float: none;
}

#phantrang ul.yiiPager a:hover {
border: 1px solid #d82c35;
}

#phantrang ul.yiiPager a:link, #phantrang ul.yiiPager a:visited {
border: solid 1px #d82c35;
font-weight: bold;
color: #d82c35;
padding: 1px 6px;
text-decoration: none;
}

#phantrang ul.yiiPager li.selected a {
background: #f1525b;
color: #ffffff;
font-weight: bold;
}