div#slider {
	float:left;
	}

div#slider div.wrap {
	width : 960px;
	text-align : left;
	float:left;
	height : 370px;
	}
	
div#top div#nav {
	float : left;
	width : 960px;
	height : 52px;
	margin : 22px 0 0;
	}
	
div#top div#nav ul {
	float : left;
	width : 700px;
	height : 52px;
	list-style-type : none;
	}
div#nav ul li {
	float : left;
	height : 52px;
	}
	
div#nav ul li a {
	border : 0;
	height : 52px;
	display : block;
	line-height : 52px;
	text-indent : -9999px;
	}
	
div#slider div#slide-holder {
	z-index : 40;
	width : 960px;
	height : 370px;
	position : absolute;
	}
	
div#slider div#slide-holder div#slide-runner {
	top : 0px;
	left : 0px;
	width : 960px;
	height : 370px;
	overflow : hidden;
	position : absolute;
	}
	
div#slider div#slide-holder img {
	margin : 0;
	display : none;
	position : absolute;
	}
	
div#slider div#slide-holder div#slide-controls {
	left : 0;
	bottom : 0px;
	width : 960px;
	height : 24px;
	display : none;
	position : absolute;
	background: url(http://toyotahaiphong.vn/css/images/nav-bg.png) top left no-repeat;
	}
	
div#slider div#slide-holder div#slide-controls p.text {
	float : left;
	color : #dc004b;
	font-size : 12px;
	line-height : 16px;
	}

div#slider div#slide-holder div#slide-controls p.text span {
	color:#b7b7b8;
	}

div#slider div#slide-holder div#slide-controls p#slide-nav {
	height : 24px;
	float:left;
	display : inline;
	background:#e7e9ea;
	margin-left:420px;
	}
div#slider div#slide-holder div#slide-controls p#slide-nav a {
	color:#ededed;
	}
div#slider div#slide-holder div#slide-controls p#slide-nav a {
	float : left;
	width : 10px;
	height : 10px;
	display : block;
	font-size : 1px;
	margin:7px;
	font-weight : bold;
	text-align : center;
	text-decoration : none;
	}
div#slider div#slide-holder div#slide-controls p#slide-nav a.on {
	background-position : bottom left;
	color:#5f9ffc;
	}
div#slider div#slide-holder div#slide-controls p#slide-nav a {
	background-image : url(http://toyotahaiphong.vn/css/images/silde-nav.png);
	}
div#nav ul li a {
	background : url(nav.png) no-repeat;
	}

#slide-desc {
	text-transform:uppercase;
	margin:0px;
	padding:0px;
	font-weight:bold;
	margin:20px 0px 0px 10px;
	}

#slide-client {
	margin:2px 0px 0px 20px;
	}
	
	
	
/*slide show-----------------------------------------------------------------------------------------------------------------------------------------------*/


.theme-default #slider1, .theme-default #slider1 img
{
  width:960px; /* Chi?u r?ng */
  height:420px; /* Chi?u cao */
  float:left;
}
.theme-default .nivoSlider{position:relative;background:#fff url(../images/loading.gif) no-repeat 50% 50%; }
.theme-default .nivoSlider img{position:absolute;top:0px;left:0px;display:none; width:680px; height:260px;}
.theme-default .nivoSlider a{border:0;display:block}
.theme-default .nivo-controlNav{position:absolute;bottom:0; right:0;}
.theme-default .nivo-controlNav a{display:block;width:22px;height:22px;background:url(../images/bullets.png) no-repeat;text-indent:-9999px;border:0;margin-right:3px;float:left}
.theme-default .nivo-controlNav a.active{background-position:0 -22px}
.theme-default .nivo-directionNav a{display:block;width:30px;height:30px;background:url(../images/arrows.png) no-repeat;text-indent:-9999px;border:0}
.theme-default a.nivo-nextNav{background-position:-30px 0;right:15px}
.theme-default a.nivo-prevNav{left:15px}
.theme-default .nivo-caption{ font-family:Helvetica,Arial,sans-serif}
.theme-default .nivo-caption a{ color:#fff; border-bottom:1px dotted #fff}
.theme-default .nivo-caption a:hover{ color:#fff}
.nivoSlider{position:relative}
.nivoSlider img{position:absolute;top:0px;left:0px}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%}
.nivo-box{display:block;position:absolute;z-index:5}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:8}
.nivo-caption p{padding:5px;margin:0}
.nivo-caption a{display:inline !important}
.nivo-html-caption{ display:none}
.nivo-directionNav a{position:absolute;top:45%;z-index:9;cursor:pointer}
.nivo-prevNav{left:0px}
.nivo-nextNav{right:0px}
.nivo-controlNav a{position:relative;z-index:9;cursor:pointer}
.nivo-controlNav a.active{font-weight:bold}

/*Bottom-------------------------------------------------------------------------------------------------------------------------------*/

#footer{
	color:#333333;
	text-align:left;
	padding:0px 6px 8px 6px;
	margin-bottom:15px;
	clear:both;
}

a{text-decoration:none;border:none; outline:none;}
img{border:none;}
.clear{clear:both;font-size:0px;overflow:hidden; height:0px;}
.left{float:left;}
.right{float:right;}
h1,h2,h3,h4,h5,p{ font:normal 12px Arial, Tahoma; margin:0px; padding:0px;}
.footer{ width:980px; margin:0px auto; padding-bottom:5px; background:#F1F1F1 url(http://topmuaban.vn/images/bg_footer_x.jpg) repeat-x; font-family:Tahoma, Arial; font-size:11px;}
.footer_menu_list_cha{ height:35px; line-height:35px; font-weight:bold; float:left; width:245px; overflow:hidden;}
.footer_menu_list_cha span{ color: #F00; padding-left:20px;}
.footer_menu_list_cha a{ color:#1F438E; padding-left:20px;}
.footer_menu_list_cha a:hover{ text-decoration:underline;}
.footer_border{ border-top:1px #DFDFDF solid; background:#FFFFFF; height:1px; overflow:hidden;}
.footer_menu_con{ background:url(http://topmuaban.vn/images/bg_footer_menu_list.jpg) repeat; padding:10px 0px;}
.footer_menu_list{ float:left; width:245px; overflow:hidden; }
.footer_menu_list_con a{ color:#5C5C5C; padding-left:30px; background:url(http://topmuaban.vn/images/bg_menu_sub.jpg) no-repeat 20px 6px; line-height:20px;}
.footer_menu_list_con a:hover{ text-decoration:underline;}
.footer_static{ padding:5px 10px 10px 10px; text-align:center; line-height:20px;}
.footer_contact{ color:#656565; line-height:20px; padding-left:20px;}
.footer_contact font{ color:#FF0000; font-weight:bold;}
.footer_contact a{ color:#666666;}
.footer_contact a:hover{ text-decoration:underline;}
.footer_list_tag{ background:#1B356A; padding:5px 10px 10px 10px; text-align:center;}
.footer_list_tag a{ color:#648BD9;}
.footer_list_tag a:hover{ text-decoration:underline;}
.footer_list_tag span{ padding:0px 2px; color:#648BD9}
/*slide tin tuc------------------------------------------------------------------------------------------------------------------*/




/*phan trang*/
/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id: pager.css 1678 2010-01-07 21:02:00Z qiang.xue $
 * @since 1.0
 */

ul.yiiPager
{
	font-size:11px;
	border:0;
	margin:0;
	padding:0;
	line-height:100%;
	display:inline;
}

ul.yiiPager li
{
	display:inline;
}

ul.yiiPager a:link,
ul.yiiPager a:visited
{
	border:solid 1px #9aafe5;
	font-weight:bold;
	color:#0e509e;
	padding:1px 6px;
	text-decoration:none;
}

ul.yiiPager .page a
{
	font-weight:normal;
}

ul.yiiPager a:hover
{
	border:solid 1px #0e509e;
}

ul.yiiPager .selected a
{
	background:#2e6ab1;
	color:#FFFFFF;
	font-weight:bold;
}

ul.yiiPager .hidden a
{
	border:solid 1px #DEDEDE;
	color:#888888;
}

/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last
{
	display:none;
}




	/*supportonline*/
.supportonline{background-color:#F6F9FD;font-family:arial,tahoma,verdana; font-size:9pt; width:100%; float:left;}
.supportonline .headline{text-transform:uppercase; font-weight:bold; background: url("http://www.haidang.vn/App_Themes/Default/images/bg_leftmenu_item_active.gif") repeat-x scroll left top #EDF1F9; color:#e7171e; font-size:12px; padding:0px 20px; margin-bottom:5px; line-height:30px;}
.groupnick{color: #999; padding:0 20px;}
.supportgroup_sepa{ border-bottom: 1px solid #E1E8F4; border-top: 1px solid #FFFFFF; margin-top:5px; margin-bottom:5px;}
.supportonline_table{width:100%; text-align:left; padding:0;}
.supportonlineitem_table{margin: 0 20px; text-align: left; width: 80%;}
.supportitem{text-align:center; width:50%;}
.phone{background:url("http://www.haidang.vn/App_Themes/Default/images/bg_phone.png") no-repeat scroll left center transparent; padding:4px 0 4px 80px; margin:0 20px 5px 20px; color:#e7171e;font-weight:bolder; font-size:15px;}
.groupnick {
color: #0081c3;
padding: 5px 20px;
padding-bottom:5px;
}
/*supportonline*/



						/*form thong tin thanh toan*/
#method_mytour_pay_hotel {
display: inline-block;
width: 600px;
}

.comment_method {
float: left;

}
.method_pay_mytour_hotel {
display: inline-block;
font-size: 11px;
padding: 12px 8px;
position: relative;
width: 579px;
cursor: pointer;
}
.comment_method h3 {
display: block;
font-size: 1.17em;
font-weight: bold;
margin-bottom:10px;
}

.method_pay_mytour_hotel .bg_method_live {
background-position: -56px -194px;
}
.method_pay_mytour_hotel .bg_method_transfer {
background-position: -63px -111px;
}
.method_pay_mytour_hotel .bg_method_online {
background-position: -56px -73px;
}
.method_pay_mytour_hotel .bg_method_visa {
background-position: -56px -158px;
}
.method_pay_mytour_hotel .bg_onepay{
background-position: -14px -346px;
}
.method_pay_mytour_hotel .bg_onepay_vn{
background-position: -103px -247px;
}
.method_pay_mytour_hotel .bg_onepay_qt{
background-position: -102px -287px;
}

/*form ho tro khach hang*/		
.intro-b {
width: 98%;
padding:10px;

font: 12px Arial;
color: #7F7F7F;
line-height: 18px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 18px;
color: #333;
}
.ct-pn {
color: #790101;
font: bold 12px Arial;
}
.ct-e {
color: #0575BD;
font: bold 12px Arial;
}

.main-con{margin:10px 22px 10px 24px;float:left;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 13px;
line-height: 18px;}
.ct-input {
padding: 2px 0 2px 0;
float: left;
width:500px;
margin-bottom:5px;
}
.require-f {
color: #929292;
float: left;
margin: 0 3px 0 0;
padding: 2px 7px 2px 0;
width:130px;
}
.txtName{
width: 370px!important;
height: 18px;
padding: 4px;
margin-bottom: 9px;
font-size: 13px;
line-height: 18px;
color: #555;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.txtName1{
width: 380px!important;
padding: 4px;
margin-bottom: 9px;
font-size: 13px;
color: #555;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

.txtnoidung{
padding: 4px;
margin-bottom: 9px;
font-size: 13px;
line-height: 18px;
color: #555;
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}




/* BUTTONS */

.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color: #999;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color: #999;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color: #999;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color: #999;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color: #999;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
   color: #999;
}
#wait{
	margin-bottom:10px;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}